@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #adb5bd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #adb5bd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #868a8d;
}
* {
  font-family: "Poppins";
}
.chart-label-x {
  border-style: solid;
  border: 5px solid red;
  background: blue;
  color: yellow;
}
.checker {
  height: "5px";
  border-radius: "5px";
  background-color: "#dbdfe9";
  width: "100%";
}
