.bg {
  background-image: url("/public/assets/Images/4024882_15680.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
}
.wizardTitle {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  border: 1px solid lightgray;
  display: inline-block;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 18px;
}
.wizardBtn {
  padding: 10px 20px;
  border: none;
  color: black;
  /* background-color: #b2a4ff8a; */
}
.wizardBtn:hover {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #b2a4ff;
}
.wizard {
  height: 900px;
  width: 100%;
}
